<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="聚合影片资源，智能识别影片信息，自动刮削封面海报，无需下载视频，流畅在线播放，跨平台跨设备同步，优雅打造私人影视库。">
	<meta name="author" content="'小白羊网盘BoxPlayer">
	<meta name="google-site-verification" content="f1VQn8dU20dgCYNT_WUUIFgVWlhQTsBBroaoXpBLH5c" />

	<!-- Favicon -->
	<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/touch-icon.png" sizes="192x192">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300|PT+Sans|Raleway|Lato:300|Rubik:300" rel="stylesheet">

	<!-- CSS Libraries -->
	<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="../assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="../assets/css/animate.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">

	<!-- Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-LCN1QPC67C"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-LCN1QPC67C');
	</script>

	<!-- Alpine.js -->
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

	{% seo %}
	{% feed_meta %}
</head>
<body>

<!-- Main Content -->
<main>
	{{ content }}
</main>

<!-- Scripts -->
<script defer src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script defer src="{{ site.baseurl }}/js/main.js"></script>
</body>
</html>
